<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="utf-8">
        <style>
            body {
                background-color: rgb(248, 177, 126);
            }
            
            h2 {
                color: black;
                text-align: center;
            }
            
            p {
                font-family: verdana;
                font-size: 20px;
            }
        </style>
    </head>
    <body>